.files-container {
    width: 80%;
    /*{#flex-grow: 1;  !* fill remaining space *!#}*/
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    margin-top: 70px;
    /*{#flex-direction: inherit;#}*/
    /*{#display: flex; !* use flexbox to center content *!#}*/
    flex-wrap: wrap; /* ensure content wraps */
    justify-content: center; /* horizontally center */
}


.grid-container {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    max-height: 100vh;
    padding-top: 20px;
    justify-content: center;
    /*{#justify-content: center; !* ensure image items are centered in parent *!#}*/
    gap: 10px;
    /*{#flex-direction: column;#}*/
}

.image-box{
    display: flex;
    /*{#flex-grow: 1;#}*/
    justify-self: center;

}

.pagination {
    /*{#flex-grow: 1;#}*/
    margin-top: auto; /* push to bottom of parent */
    text-align: center;
    padding: 10px;
    /*{#width: auto;#}*/
    /*{#background-color: #f0f0f0; !* background color, optional *!#}*/
}

.grid-item {
    /*{#display: flex;#}*/
    width: 250px; /* fixed width */
    margin-bottom: 5px; /* control vertical spacing */
    position: relative;
    overflow: hidden; /* prevent overflow */
    /*flex: 1;*/
}

.grid-item img {
    width: 100%; /* always fill container width */
    height: auto; /* height auto-calculated based on width */
    object-fit: cover; /* maintain image ratio; crop if necessary */
}
.page-btn {
    padding-top: 20px;
    margin: 0 20px;
    background-color: transparent;  /* remove button background color */
    border: none; /* remove button border */
    color: var(--primary-color); /* button text color set to blue */
    font-size: 18px; /* adjust button text size as needed */
    cursor: pointer; /* show pointer on hover */

}

.page-btn.disabled {
    color: #ccc;
    pointer-events: none;
}

.current-page {
    font-size: 18px;
    color: var(--primary-color);
    margin: 0 10px;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    display: none; /* hidden by default */
}

.grid-item.video .play-icon {
    display: block; /* show play icon if it's a video */
}

.no-media-message {
    font-size: 20px;
    color: #888;
    text-align: center;
    margin-top: 50px;
}

