/* Image heart */
.like-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s;
}

.like-icon:hover {
    transform: scale(1.2);
}

.fas.fa-heart {
    color: red; /* Red heart */
}

.far.fa-heart {
    color: white; /* Empty heart */
}

.pre-like-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s;
}

.pre-like-icon:hover {
    transform: scale(1.2);
}