/* Styles for mobile screens */
@media (max-width: 630px) {
    .grid-item {
        width: 180px; /* fixed width */
    }

    .folders-container {
        display: none;
        width: 0;
    }

    .files-container {
        width: 100%;
    }

    .menu-btn {
        margin-left: 0;
    }

    .page-btn {
        font-size: 16px; /* adjust button font size as needed */
    }

    .current-page {
        font-size: 16px;
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: white;
        display: none; /* hidden by default */
    }
}