#popupMenu {
    display: none;
    position: fixed;
    top: 50px; /* distance from page top 10px */
    right: 0; /* distance from page right 10px */
    border: 1px solid #ccc;
    background-color: #fff;
    width: 200px;
    padding: 10px;
    /*margin-top: 10px;*/

    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
}

/* Menu item styles */
#popupMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#popupMenu ul li {
    padding: 8px 10px;
    cursor: pointer;
}

#popupMenu ul li:hover {
    background-color: lightgray;
}

/* Logout button styles */
.logout-btn {
    cursor: pointer;
    margin-left: 10px; /* control spacing between two buttons */
    /*{#margin-bottom: 10px;#}*/
    font-size: 20px; /* adjust icon size */
    display: inline-flex;
    align-items: center;
}

/* Icon size and color */
.logout-btn i {
    transition: color 0.3s ease;
}

.network-btn{
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}

#select-video-icon {
    font-size: 20px;
    margin-left: 8px;
}
#hide-read-icon {
    font-size: 18px;
    margin-left: 8px;
}

#popupMenu ul li span {
  margin-left: 8px;
}
#popupMenu ul li {
    display: flex;              /* use flexbox layout */
    align-items: center;        /* vertically center align */
    gap: 8px;                   /* set gap between elements; adjustable */
}

.folder_control_label input {
    display: flex;
    justify-content: flex-end; /* right align */
    /*flex-grow: 1; !* 让label占据整个可用宽度 *!*/
    accent-color: var(--primary-color);

}
.folder_control_label input[type="checkbox"] {
    transform: scale(1.5);  /* scale checkbox */
}

.folder_control_label {
    margin-left: auto;          /* align checkbox to right */
}
/* Add layout styles for folder_control */
/*.folder_control {*/
/*    !*margin-top: 20px;*!*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    flex-direction: row;*/
/*    align-items: start;*/
/*    gap: 20px;*/
/*    padding-top: 15px;*/
/*    border-radius: 8px;*/
/*    margin-left: 28px;*/
/*    font-size: 18px;*/
/*    !*{#margin: 20px 0;#}*!*/
/*}*/