/* Top toolbar */
.toolbar {
    background-color: var(--primary-color);
    font-size: 16px;
    color: var(--icon-color);
    padding: 10px 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
}

.delete-btn i {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-btn i:hover {
    color: black; /* show dark red on hover */
}

.like-btn:hover i {
    /*background-color: red;*/
    color: red; /* turn red on hover */
}

.check-btn:hover i {
    /*background-color: red;*/
    color: lightgray; /* hover color (light gray) */
}

.like-btn,
.check-btn{
    margin-left: 10px; /* control spacing between two buttons */
    cursor: pointer; /* show pointer on hover */
}

.home-btn{
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

/* Logout button styles */
.setting-btn {
    cursor: pointer;
    margin-left: 10px; /* 控制两个按钮之间的间距 */
    /*{#margin-bottom: 10px;#}*/
    font-size: 24px; /* adjust icon size */
    display: inline-flex;
    align-items: center;
}

/* Icon size and color */
.setting i {
    transition: color 0.3s ease;
}

.like-btn i,
.check-btn i{
    font-size: 24px; /* set icon size */
}

.menu-btn {
    font-size: 26px;
    margin-left: 20px;
    cursor: pointer;
}
.menu-btn i {
    /*{#font-size: 28px;#}*/
    /*{#margin-left: 20px;#}*/
    /*{#cursor: pointer;#}*/
    transform: translateY(2px); /* move icon down */
}
.folders_name{
    justify-self: center;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;  /* hide overflow */
    text-overflow: ellipsis;  /* show ellipsis */
    text-align: center;
}

@media (max-width: 600px) {
    .folders_name{
        display: none;

    }
    .menu-btn {
        margin-left: 10px;
    }
}